
body{
    background: aliceblue;
    font-family: 'Trebuchet MS','Times New Roman', Times, serif;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: olivedrab;
    color: black;
    width: 96%;
    margin: 0 auto;
}
h1 {
    font-size: 150%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    list-style: none;
}

main {
    background: red;
    width: 96%;
    margin: 1% auto;
}

h2 {
    
    background: aliceblue;
    border: 2px dashed green;
    text-align: center;
    background-image: linear-gradient(to bottom right,olivedrab, red);
    margin-bottom: auto;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;    
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h3 {
    padding-right: 3%;
}
section {
    flex: 0 0 100%;
}

figure {
    display: flex;
    flex-direction: row;
}

aside{
    text-align: center;
    flex: 0 0 10%;
    border-right: 3px solid black;
}

/*container holds projects in work aside */
#container {
    flex: 0 0 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
/* main project */
#showcase {
    flex: 0 0 100%;
    padding-left: 1%;
    padding-bottom: 3%;
    margin-bottom: 1%;
}
#showcaseProject{
    display: flex;
    position: relative;
    margin-bottom: -2rem;
    margin-left: .5rem;
    margin-right: 80%;
    
}
img {
    width: 100%;
    height: 100%;
}
/* small projects */
.smallProject{
    flex: 0 0 45%;
    padding-left: 1%;
    padding-bottom: 3%;
}

#info {
    padding-left: 1%;
}

#contactLinks {
    display: flex;
    list-style-type: none;
    padding-left: 1%;
}

#contactLinks li {
    padding: 0 10px;  
}



footer {
    background-color: olivedrab;
    width: 96%;
    height: 45px;
    margin: 0 auto;
}
#thankYou {
    text-align: center;
    padding-top: 10px;
}


@keyframes move {
    0% {text-align: center;}
    33%{text-align: right;}
    66%{text-align: left;}
    100%{text-align: center;}  
}



