body{
    background: aliceblue;
}
header {
    display: flex;
    background: gray;
    
}
h1{
    justify-content: left;
    margin-right: 25%;
}

nav ul {
    display: flex;
    list-style-type: none;
}
nav li {
    font-size: 1.5rem;
    padding: 5px;
}

main {
    background: red;
    width: 96%;
    margin: 1% auto;
}

h2 {
    background: aliceblue;
    border: 1px dashed green;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
section {
    flex: 0 0 100%;
}

figure {
    display: flex;
    flex-direction: row;
}

aside{
    text-align: center;
    flex: 0 0 10%;
    border-right: 2px solid black;
}

#container {
    flex: 0 0 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#showcase {
    flex: 0 0 90%;
}
#smallProject{
    flex: 0 0 45%;
}
img {
    width: 100%;
    height: 100%;
}






